.A1{
    color: red;
    font-style: italic;
}
.B2{
    color: red;
    font-style: italic;
}
.C3{
    color: brown;
    line-height: 50px;
    font-size: 20px;
}
.D4{
    background-color: yellow;
}
.E5{
    color: brown;
    letter-spacing: 5px;
    font-size: 18px;
}
.F6{
    color: brown;
    font-size: 18px;
}
a{
    color: red;
    font-style: italic;
    background-color: yellow;
    text-decoration:none;
}